#cardImageStyle {
  width: 400px;
  height: 300px;
  border-radius: 1rem;
}

#userimage {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    width: 60px;
    height: 60px;
}

#viewableImage {
    width: 1080px;
    height: 600px;
}

#profileImage {
    display: block;
    margin-top: 12rem;
    margin-right: 6rem;
}

#colstyle {
  margin-bottom: 1rem;
}

#paginationStyle {
  margin-top: 2rem;
}

#firstspan {
    font-weight: bold;
    color: #b42e66;
}

#secondspan {
    font-weight: bold;
    color: #0c6410;
}

div .modal-content {
    background-color: unset !important;
}